
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAvailableLabel" translate="siteManagerApp.available.home.createOrEditLabel">Create or edit a Available</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.available.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.available.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="siteManagerApp.available.beginOfAvailability" for="field_beginOfAvailability">Begin Of Availability</label>
                <div class="input-group">
                    <input id="field_beginOfAvailability" type="text" class="form-control" name="beginOfAvailability" uib-datepicker-popup="{{dateformat}}" ng-model="vm.available.beginOfAvailability" is-open="vm.datePickerOpenStatus.beginOfAvailability"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('beginOfAvailability')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.beginOfAvailability.$invalid">
                <p class="help-block"
                    ng-show="editForm.beginOfAvailability.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="siteManagerApp.available.endOfAvailability" for="field_endOfAvailability">End Of Availability</label>
                <div class="input-group">
                    <input id="field_endOfAvailability" type="text" class="form-control" name="endOfAvailability" uib-datepicker-popup="{{dateformat}}" ng-model="vm.available.endOfAvailability" is-open="vm.datePickerOpenStatus.endOfAvailability"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endOfAvailability')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.endOfAvailability.$invalid">
                <p class="help-block"
                    ng-show="editForm.endOfAvailability.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="siteManagerApp.available.country" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                    ng-model="vm.available.country"
                    required ng-minlength="3" ng-maxlength="20" />
            <div ng-show="editForm.country.$invalid">
                <p class="help-block"
                    ng-show="editForm.country.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.country.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.country.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="siteManagerApp.available.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                    ng-model="vm.available.city"
                    required ng-minlength="0" ng-maxlength="20" />
            <div ng-show="editForm.city.$invalid">
                <p class="help-block"
                    ng-show="editForm.city.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.city.$error.minlength" translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.city.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="siteManagerApp.available.postalcode" for="field_postalcode">Postalcode</label>
            <input type="text" class="form-control" name="postalcode" id="field_postalcode"
                    ng-model="vm.available.postalcode"
                    required ng-minlength="3" ng-maxlength="20" />
            <div ng-show="editForm.postalcode.$invalid">
                <p class="help-block"
                    ng-show="editForm.postalcode.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.postalcode.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.postalcode.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="siteManagerApp.available.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.available.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
